{% extends "base.html" %}
{% block content %}

<h4 class='text-center p-4 text-success'>Choose Your Favorite Book</h4>

<div class="d-flex justify-content-center gap-2 flex-wrap">
    {% for cat in categories %}
        <a href="{% url 'category_wise_post' cat.slug %}" class="text-decoration-none text-dark btn btn-outline-warning">{{ cat.Name }}</a>
    {% endfor %}
</div>

<h4 class='text-center text-warning p-4'><span class='text-success'>Book</span> found <span class='badge bg-danger rounded-pill top-0'>{{ data|length }}</span></h4>

<div style="width: 90%; margin: auto;" class='shadow-sm'>
    <div class="row gap-4 p-5 p-md-3">
        {% for book in data %}
            <div class="card col-sm-3 shadow bg-black bg-opacity-75 text-white" style="width: 17rem; height: 550px;">
                <div class="card-body">
                    {% if book.image %}
                        <img src="{{ book.image.url }}" class="card-img-top" style="width: 100%; height: 210px;" alt="...">
                    {% else %}
                        <p class="text-center">No Image Available</p>
                    {% endif %}
                    <h5 class="card-title mt-1"><a href="" class="text-decoration-none">{{ book.Name }}</a></h5>
                    <p class="card-text">{{ book.Content|truncatewords:10 }}</p>
                    <p>Price: {{ book.price }}$</p>
                    <div class="mb-4">
                        <h6>Categories:</h6>
                        <div class="d-flex flex-wrap">
                            {% for category in book.category.all %}
                                <button class="badge bg-primary bg-opacity-75 m-1 p-1" disabled><small>{{ category.Name }}</small></button>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="btn btn-success mb-1"><a class="text-decoration-none text-white" href="{% url 'details_view' book.id %}">Book Details</a></button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
